$white: #FFFFFF;
$red: #E71D36;
$green: #2EC4B6;
$gray: #F8F9FA;
$black: #011627;

.input-number {
    .input-group {
        display: flex;
        background-color: $white;
        justify-content: center;

        .input-group-text {
            border: 0;
            cursor: pointer;
            color: $white;
            padding: 0;
            border-radius: 0.1rem !important;
            font-size: 2rem;
            display: flex;
            user-select: none;
            text-align: center;
            padding: {
                top: 0px;
                right: 1rem;
                bottom: 1rem;
                left: 0rem;
            };

            &.minus {
                align-self: center;
                flex-grow: 1;
                background-color: $red;
            }
            
            &.plus { 
                flex-grow: 1;
                background-color: $green;
            }
        }

        input.form-control {
            // min-height: 2.5rem;
            border: 0;
            border-radius: 0;
            outline: 0;
            box-shadow: none;
            background-color: $gray;
            color: $black;
            // padding: 0.575rem 1rem;
            text-align: center;
        }
    }
}